.vehicle-selector {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 1rem;
  }
  
  .vehicle-selector button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position:relative;
    margin-top:2%;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    transition: background 0.3s;
    margin-left: 0.9rem;
  }
  
  .vehicle-selector button.selected {
    background-color: #0ff0fc;
  }
  
  .vehicle-selector button:hover {
    background-color: #5a5a5dd5;
  }
  
  /* Responsive adjustments for smaller screens */
  @media screen and (max-width: 768px) {
    .vehicle-selector {
      margin-top: 45px; /* reduced margin top for small devices */
      margin-right: 50px;
    }
    .vehicle-selector button{
      left: 6%;
      margin-top:6%;
      margin-right: -15px;
    }
    .vehicle-selector button.selected {
      background-color: #0ff0fc;
    }
}